<div id="{{fieldId}}-wrapper" class="checkbox {{#if error}}has-error has-feedback{{/if}}">
  <label>
    <we-checkbox id="{{fieldId}}">
      <input type="checkbox" {{{fieldAttrs}}}{{#if value}}checked="checked"{{/if}} />
      <input type="hidden" name="{{name}}" value="{{value}}">
    </we-checkbox>
    <strong>{{t fieldName}}</strong>
  </label>

  {{#ifCond field.allowNull false}}*{{/ifCond}}
  {{{field-help-error error}}}
</div>