<div class="checkbox {{#if error}}has-error has-feedback{{/if}}">
  <label>
    <input id="{{fieldId}}" name="{{name}}" type="checkbox" {{fieldAttrs}}{{#if value}}checked="checked"{{/if}}> {{t fieldName}}
  {{#unless field.allowNull}}*{{/unless}}</label>
  {{{field-help-error error}}}
</div>