<div id="{{fieldId}}" class="checkbox {{#if error}}has-error has-feedback{{/if}}">
  <label>
    <input id="{{fieldId}}-selector" value="1" type="checkbox" {{fieldAttrs}}{{#if value}}checked="checked"{{/if}}>
    <strong>{{t fieldName}}</strong>
  </label>

  <input id="{{fieldId}}-data" type="hidden" name="{{name}}" value="{{value}}">

  {{#ifCond field.allowNull false}}*{{/ifCond}}
  {{{field-help-error error}}}
</div>
<script>$(document).ready(function() {
  $("#{{fieldId}}-selector").change(function() {
    if (this.checked) {
      $('#{{fieldId}}-data').val(1);
    } else {
      $('#{{fieldId}}-data').val(0);
    }
  });
});</script>