<div id="{{fieldName}}" class="we-form-group we-form-group-{{name}}">
  {{#if title}}<h4 class="we-form-group-title">{{{title}}}</h4>{{/if}}
  {{#if description}}<p class="we-form-group-description">{{{description}}}</p>{{/if}}
  <div class="we-form-group-fields we-form-group-{{attrName}}-fields">{{{fieldsHTML}}}</div>
</div>