<form id="{{formId}}" name="{{modelName}}" class="{{class}}" {{{controllAttrs}}}action="{{action}}" method="post">
<fieldset><legend>{{t 'Create'}} {{t modelName}}</legend>{{{fields}}}

<button type="submit" class="btn btn-primary">{{t 'Save'}}</button>
</fieldset>
</form>