<form id="{{formId}}" name="{{modelName}}" class="{{class}}" {{{controllAttrs}}}action="{{action}}" method="post">
{{{fields}}}
<button type="submit" class="btn btn-primary">{{t 'Save'}}</button>
</form>