<div class="form-group {{#if error}}has-error has-feedback{{/if}}">
  <label for="{{fieldId}}">{{t fieldName}}</label>
  <span class="help-block">{{error.message}}</span>
  <textarea id="{{fieldId}}" name="{{name}}" we-editor-height="{{field.formFieldHeight}}" we-editor-focus="{{field.formFieldFocus}}" we-editor-minheight="{{field.formFieldMinHeight}}" we-editor-maxheight="{{field.formFieldMaxHeight}}" class="form-control">{{value}}</textarea>
  <script>$(document).ready(function() {
    we.components.editor.init('#{{fieldId}}');
  });</script>
  <span class="help-block">{{error.message}}</span>
</div>
