<div class="form-group {{#if error}}has-error has-feedback{{/if}}">
  <label for="{{fieldId}}">{{t fieldName}} {{#ifCond field.allowNull false}}*{{/ifCond}}</label>
  <select class="form-control" id="{{fieldId}}" name="{{name}}">
    {{#if field.allowNull}}
      <option value="" selected="selected">{{t placeholder}}</option>
    {{/if}}
    {{#each field.fieldOptions}}
      {{#ifCond @key ../value}}
        {{#with ../this}}
          <option selected="selected" value="{{@key}}">{{t this}}</option>
        {{/with}}
      {{else}}
        {{#with ../this}}
          <option value="{{@key}}">{{t this}}</option>
        {{/with}}
      {{/ifCond}}
    {{/each}}
  </select>
  <p class="help-block">{{t help}}</p>
  {{{field-help-error error}}}
</div>
