<div class="checkbox {{#if error}}has-error has-feedback{{/if}}">
  <label>
    <input id="{{fieldId}}" name="{{name}}" type="checkbox" {{{fieldAttrs}}}{{#if value}}checked="checked"{{/if}}> {{t fieldName}}
  {{#ifCond field.allowNull false}}*{{/ifCond}}
    <p><strong>{{{t help}}}</strong></p>
  </label>
  {{{field-help-error error}}}
</div>