<div class="form-group">
  <label for="{{fieldId}}">{{t fieldName}}</label>
  <input id="{{fieldId}}" name="{{name}}" type="{{field.type}}" class="form-control" placeholder="{{t placeholder}}" value="{{value}}">
</div>