<div class="panel-group" id="accordion-{{fieldId}}" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-{{fieldId}}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion-{{fieldId}}" href="#collapse-{{fieldId}}" aria-expanded="true" aria-controls="collapse-{{fieldId}}">
          {{{label}}} {{#ifCond field.allowNull false}}*{{/ifCond}} +
        </a>
      </h4>
    </div>
    <div id="collapse-{{fieldId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{fieldId}}">
      <div class="panel-body">
        <div class="form-group {{#if error}}has-error has-feedback{{/if}}">
          <label for="{{fieldId}}">{{{label}}} {{#ifCond field.allowNull false}}*{{/ifCond}}</label>
          <input id="{{fieldId}}" name="{{name}}" type="text" class="form-control" placeholder="{{{placeholder}}}" {{{fieldAttrs}}} value="{{field.linkPermanent}}">
          <p class="help-block">{{t help}}</p>
          {{{field-help-error error}}}
        </div>
      </div>
    </div>
  </div>
</div>
