<div class="form-group {{#if error}}has-error has-feedback{{/if}}">
  {{#can permission='manage_users' roleNames=this.locals.req.userRoleNames}}
    <label for="{{fieldId}}">{{{label}}}{{#ifCond field.allowNull false}}*{{/ifCond}}
    </label>
    <input id="{{fieldId}}" name="{{name}}" type="email" class="form-control" placeholder="{{{placeholder}}}" {{{fieldAttrs}}} value="{{value}}">
    <p class="help-block">{{t help}}</p>
  {{else}}
    <label for="{{fieldId}}">{{{label}}}:</label> {{value}}
  {{/can}}

  {{{field-help-error error}}}
</div>


